<nav><%= link_to("Home", books_path, :class => 'action index') %></nav>

<%= link_to("Back to List", pages_path, :class => 'back-link') %>

<h1>New Page</h1>

<%= form_for(@page, :url => pages_path, :method => 'post') do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <%= f.submit("Create Page") %>
<% end %>