<nav><%= link_to("Home", books_path, :class => 'action index') %></nav>

<p id="notice"><%= notice %></p>

<table summary="Book detail view">
    <tr>
        <th>Book Title</th>
        <td><%= @book.title %></td>
    </tr>
    <tr>
        <th>Author</th>
        <td><%= @book.author %></td>
    </tr>
    <tr>
        <th>Price</th>
        <td><%= @book.price %></td>
    </tr>
    <tr>
        <th>Published Date</th>
        <td><%= @book.publishedDate %></td>
    </tr>
</table>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
